language: python
dist: xenial
python:
  - "3.6"
  - "3.7"

install:
  - pip install -r dev-requirements.txt

script:
  - python -m pytest test_esss_jenkins.py
  - pre-commit run --all-files --show-diff-on-failure
